<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApplicationHC.Properties.Settings.aspnet_HealthCareConnectionString"
            connectionString="Data Source=.;Initial Catalog=aspnet-HealthCare;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="MicrosoftSpeechApiKey" value="9a2d41a536d4493192ce70e825c73fee" />
    <add key="CitiesApiKey" value="AIzaSyC9K5PwvTC5ERuhcqJMy2R1KAhAJz82iv8" /> 
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>